// fonts
$sacramento: 'Sacramento', cursive;
$playfair: 'Playfair Display SC';
$alice: 'Alice', serif;

// colors
$hoverGreen: #c7d93b;
$mainWhite: #fff;
$mainBlack: #000;
$descriptionBlack: #1d1a19;
$mainBorder: 1px solid #49423b;
$whiteBorder: 1px solid #fff;
$bg: #f4efde;
$footerBg: #dba539;
$endBg: #805f1e;
$hoverBg: rgba(29, 26, 25, 0.5);
$menuBorder: 1px solid rgba(255, 255, 255, 0.3);