.header {
    img {
        width: 150px;
    }
    color: #5F717D;
    .nav {
        li  {
            position: relative;
            overflow: hidden;
            &::after {
                content: '';
                width: 100%;
                height: 5%;
                position: absolute;
                top: 0;
                right: 100%;
                background-color: #ff6600;
                transition: .4s
            }
            &:hover {
                color: black;
                &::after {
                    right: 0;
                }
            }
        }
    }
}